// stylelint-disable
.path-mod-competgrade {
    .grading-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .usernavigation .userinfo {
        width: 170px;
        min-width: 170px;
        display: flex;
        flex-direction: column;
    }
    .userheader {
        justify-content: center;
        margin-top: 2rem;
        .userimage img {
            width: 100px;
            height: 100px;
        }
    }
    .grade-panel {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }
    .grade-header {
        display: flex;
        .user-header {
            flex: 1 1 70%;
        }
        .user-grade {
            flex: 1 1 30%;
            background-color: #f5f5f5;
            margin-bottom: -70px;
            z-index: 1;
        }
    }
    .tab-content {
        flex: 1 0 auto;
        display: flex;
        &>.active {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
        }
    }
    .grade-tabs {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        .nav-container,
        .tab-inner {
            display: flex;
            .nav-tabs,
            .tab-main {
                flex: 1 1 70%;
                max-width: 70%;;
            }
            .void,
            .tab-aside {
                flex: 1 1 30%;
                max-width: 30%;
            }
            .void {
                background-color: #f5f5f5;
            }
            .tab-aside {
                background-color: #f1f1f1;
            }
        }
        .tab-inner {
            display: flex;
            flex: 1 0 auto;
        }
    }
    .tab-main {
        padding: 1rem;
    }
    svg {
        .svg-fill {
            fill: #1d2125;
        }
        .svg-stroke {
            stroke: #1d2125;
        }
    }
    .certifheading {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .certifsection {
        margin-bottom: 0.5rem;
    }
    .nav-link {
        border-width: 3px;
        &.active,
        &:hover {
            color: #0E847B;
            border-color: transparent transparent #0E847B;
            svg {
                .svg-fill {
                    fill: #0E847B;
                }
                .svg-stroke {
                    stroke: #0E847B;
                }
            }
        }
    }
    .comment {
        margin-top: 0.25rem;
        margin-bottom: 0.25remrem;
        background-color: #f5f5f5;
        padding: 0.5rem 0.7rem;
        border-radius: 0.5rem;
        margin-left: 2.5rem;
    }
    .commentsection {
        margin-bottom: 1rem;
        .userimage img {
            width: 35px;
            height: 35px;
        }
    }
    .statusmessage {
        transition: opacity 0.5s ease-in-out;
    }
    .certification {
        .heading,
        .certif {
            display: flex;
            margin-bottom: 1rem;
        }
        .col1 {
            flex: 1 1 50%;
            max-width: 50%;
        }
        .col2 {
            flex: 1 1 26%;
            max-width: 26%;
        }
        .col3 {
            flex: 1 1 12%;
            max-width: 12%;
            text-align: center;
        }
        .col4 {
            flex: 1 1 12%;
            max-width: 12%;
            text-align: center;
        }
        .progress {
            height: 3px;
        }
    }
    .opacity-0 {
        opacity: 0;
    }
}
