{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_competgrade/tab/evaluate

    TODO describe template evaluate

    Example context (json):
    {
    }
}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="tab-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <canvas id="reviewPentagonChart" width="400" height="400"></canvas>
            </div>
            <div class="col-6">
                <canvas id="myPentagonChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>Commentaires</h2>
            </div>
            <div data-region="comments">
            </div>
        </div>
    </div>
</div>
<div class="tab-aside">
    <div class="p-3" data-region="tab-side">
        <div class="certifheading d-flex align-items-center">
          <span class="mr-2">{{> mod_competgrade/svg/chat}}</span>
          {{#str}}evaluate, mod_competgrade{{/str}}
        </div>
        <div class="small">{{#str}}enterskillassesment, mod_competgrade{{/str}}</div>
        <form class="form-inline">
            <div class="form-group">
                <input type="number" class="form-control" name="globalgrade" data-action="globalgrade" data-grade-id="0" data-criterium-id="1" value="{{globalgrade}}" min="0" max="100" step="1" />
                <label class="certifheading ml-2">
                    / 100
                </label>
            </div>
        </form>
    </div>
</div>

<script>
    // Get the canvas element
    var ctx = document.getElementById('myPentagonChart').getContext('2d');

    // Chart data
    var data = {
        labels: [
            'Compétences liées à la démarche clinique',
            'Motivation et implication personelle',
            'Qualieté d\'organisation et de travail en équipe',
            'Compétences liées à la mobilisation des acquis',
            'Compétences techniques et activités de soins'],
        datasets: [{
        data: [5, 3, 8, 4, 6], // Adjust these values based on your requirements
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 2,
        }]
    };

    // Chart configuration
    var options = {
        scale: {
        pointLabels: {
            fontSize: 14,
        },
        },
    };

    // Create the radar chart
    var myPentagonChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: options
    });

    // Get the canvas element   
    var ctx = document.getElementById('reviewPentagonChart').getContext('2d');

    // Chart data
    var data = {
        labels: [
            'Compétences liées à la démarche clinique',
            'Motivation et implication personelle',
            'Qualieté d\'organisation et de travail en équipe',
            'Compétences liées à la mobilisation des acquis',
            'Compétences techniques et activités de soins'],
        datasets: [{
            data: [5, 1, 4, 8, 8], // Adjust these values based on your requirements
            backgroundColor: 'rgba(254, 254, 100, 0.2)',
            borderColor: 'rgba(254, 254, 100, 1)',
            borderWidth: 2,
        }]
    };

    // Chart configuration
    var options = {
        scale: {
        pointLabels: {
            fontSize: 14,
        },
        },
    };

    // Create the radar chart
    var reviewPentagonChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: options
    });

</script>